@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';
@import 'https://fonts.googleapis.com/css2?family=Kaushan+Script&display=swap';

@layer base {
    h1 {
        @apply text-3xl font-bold;
    }

    h2 {
        @apply text-2xl font-semibold;
    }

    h3 {
        @apply text-xl font-medium;
    }

    p {
        @apply text-base leading-relaxed;
    }

    a {
        @apply text-blue-500 hover:text-blue-700;
    }

    #root {
        @apply min-h-[calc(100vh-165px)];
    }

    #footer {
        @apply p-5;
    }
}

@layer utilities {
    .kaushan-script-regular {
        font-family: 'Kaushan Script', cursive;
        font-weight: 400;
        font-style: normal;
    }

    .absolute-center {
        @apply absolute top-1/2 left-1/2 transform -translate-x-1/2 -translate-y-1/2;
    }
}

.jumbotron {
    // should be relative path of the entry scss file
    background-image: url('../../vendors/images/sample.jpg');
    background-size: cover;
}

.btn-blue {
    @apply inline-block px-4 py-2;
    @apply font-semibold rounded-lg shadow-md;
    @apply bg-blue-500 text-white;
    @apply hover:bg-blue-700 focus:outline-none;
    @apply focus:ring-2 focus:ring-blue-400 focus:ring-opacity-75;
}
